/* 
section {
  padding-top: 4vh;
  padding-bottom: 4vh;
  height: 80vh;
  padding: 1rem 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}


#about {
  position: relative;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 100vw;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}


.details-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 16px;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
} */

















  
  /* .section-container {
    display: flex;
  }
.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 100vw;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;

  }
  
  .about-containers,
  .about-details-container {
    display: flex;

  }
  
  .about-pic {
    border-radius: 2rem;
  }
  

  
  .details-container {
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 16px;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
 */

 