/* PROJECTS SECTION */

.about-containers-proj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards */
    gap: 1.5rem; /* Espaço entre os cards */
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 100%; /* Garante que não ultrapassa o pai */
  }
  
  .details-container-proj {
    flex: 1 1 300px; /* Define largura mínima e mantém responsivo */
    max-width: 350px; /* Define o tamanho máximo do card */
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
  }
  
  #projects {
    position: relative;
  }
  
  .color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    width: 20%;
  }
  
  .project-img {
    border-radius: 2rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-img img{
    object-fit: cover;
  }
  
  .project-title {
    margin: 1rem;
    color: black;
    font-size: 16px;
  }
  
  .project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }


  /* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }
  

  